/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/.htaccess
public/error_log
public/favicon.ico
public/index.php
public/mix-manifest.json
public/robots.txt
public/web.config
public/css/app.css
public/img/*
public/js/app.js
public/shams/.DS_Store
public/shams/favicon.ico
public/shams/css/dore.dark.blue.css
public/shams/css/dore.dark.blue.min.css
public/shams/css/dore.dark.green.css
public/shams/css/dore.dark.green.min.css
public/shams/css/dore.dark.orange.css
public/shams/css/dore.dark.orange.min.css
public/shams/css/dore.dark.purple.css
public/shams/css/dore.dark.purple.min.css
public/shams/css/dore.dark.red.css
public/shams/css/dore.dark.red.min.css
public/shams/css/dore.light.blue.css
public/shams/css/dore.light.blue.min.css
public/shams/css/dore.light.green.css
public/shams/css/dore.light.green.min.css
public/shams/css/dore.light.orange.css
public/shams/css/dore.light.orange.min.css
public/shams/css/dore.light.purple.css
public/shams/css/dore.light.purple.min.css
public/shams/css/dore.light.red.css
public/shams/css/dore.light.red.min.css
public/shams/css/main.css
public/shams/css/sass/_dore.style.scss
public/shams/css/sass/_mixins.scss
public/shams/css/sass/themes/dore.dark.blue.scss
public/shams/css/sass/themes/dore.dark.green.scss
public/shams/css/sass/themes/dore.dark.orange.scss
public/shams/css/sass/themes/dore.dark.purple.scss
public/shams/css/sass/themes/dore.dark.red.scss
public/shams/css/sass/themes/dore.light.blue.scss
public/shams/css/sass/themes/dore.light.green.scss
public/shams/css/sass/themes/dore.light.orange.scss
public/shams/css/sass/themes/dore.light.purple.scss
public/shams/css/sass/themes/dore.light.red.scss
public/shams/css/vendor/bootstrap-datepicker.min.css
public/shams/css/vendor/bootstrap-datepicker3.min.css
public/shams/css/vendor/bootstrap-float-label.min.css
public/shams/css/vendor/bootstrap-stars.css
public/shams/css/vendor/bootstrap-tagsinput.css
public/shams/css/vendor/bootstrap.min.css
public/shams/css/vendor/bootstrap.rtl.only.min.css
public/shams/css/vendor/component-custom-switch.min.css
public/shams/css/vendor/cropper.min.css
public/shams/css/vendor/dataTables.bootstrap4.min.css
public/shams/css/vendor/datatables.responsive.bootstrap4.min.css
public/shams/css/vendor/dropzone.min.css
public/shams/css/vendor/fullcalendar.min.css
public/shams/css/vendor/jquery.contextMenu.min.css
public/shams/css/vendor/jquery.dataTables.min.css
public/shams/css/vendor/nouislider.min.css
public/shams/css/vendor/owl.carousel.min.css
public/shams/css/vendor/perfect-scrollbar.css
public/shams/css/vendor/quill.bubble.css
public/shams/css/vendor/quill.snow.css
public/shams/css/vendor/select2-bootstrap.min.css
public/shams/css/vendor/select2.min.css
public/shams/css/vendor/slick.css
public/shams/css/vendor/video-js.css
public/shams/font/iconsmind/demo.html
public/shams/font/iconsmind/selection.json
public/shams/font/iconsmind/style.css
public/shams/font/iconsmind/demo-files/demo.css
public/shams/font/iconsmind/demo-files/demo.js
public/shams/font/iconsmind/fonts/icomoon.eot
public/shams/font/iconsmind/fonts/icomoon.svg
public/shams/font/iconsmind/fonts/icomoon.ttf
public/shams/font/iconsmind/fonts/icomoon.woff
public/shams/font/iconsmind-s/config.json
public/shams/font/iconsmind-s/demo.html
public/shams/font/iconsmind-s/README.txt
public/shams/font/iconsmind-s/css/animation.css
public/shams/font/iconsmind-s/css/iconsminds-codes.css
public/shams/font/iconsmind-s/css/iconsminds-embedded.css
public/shams/font/iconsmind-s/css/iconsminds-ie7-codes.css
public/shams/font/iconsmind-s/css/iconsminds-ie7.css
public/shams/font/iconsmind-s/css/iconsminds.css
public/shams/font/iconsmind-s/font/iconsminds.eot
public/shams/font/iconsmind-s/font/iconsminds.svg
public/shams/font/iconsmind-s/font/iconsminds.ttf
public/shams/font/iconsmind-s/font/iconsminds.woff
public/shams/font/iconsmind-s/font/iconsminds.woff2
public/shams/font/simple-line-icons/LICENSE.md
public/shams/font/simple-line-icons/css/simple-line-icons.css
public/shams/font/simple-line-icons/fonts/Simple-Line-Icons.eot
public/shams/font/simple-line-icons/fonts/Simple-Line-Icons.svg
public/shams/font/simple-line-icons/fonts/Simple-Line-Icons.ttf
public/shams/font/simple-line-icons/fonts/Simple-Line-Icons.woff
public/shams/font/simple-line-icons/fonts/Simple-Line-Icons.woff2
public/shams/img/.DS_Store
public/shams/img/bebinca-thumb.jpg
public/shams/img/big-buck-bunny-poster.jpg
public/shams/img/card-thumb-1.jpg
public/shams/img/card-thumb-2.jpg
public/shams/img/card-thumb-3.jpg
public/shams/img/card-thumb-4.jpg
public/shams/img/carousel-1.jpg
public/shams/img/carousel-2.jpg
public/shams/img/carousel-3.jpg
public/shams/img/cheesecake-thumb.jpg
public/shams/img/chocolate-cake-thumb.jpg
public/shams/img/coconut-cake.jpg
public/shams/img/cremeschnitte-thumb.jpg
public/shams/img/detail.jpg
public/shams/img/fat-rascal-thumb.jpg
public/shams/img/financier-thumb.jpg
public/shams/img/fruitcake-thumb.jpg
public/shams/img/genoise-thumb.jpg
public/shams/img/gingerbread-thumb.jpg
public/shams/img/goose-breast-thumb.jpg
public/shams/img/login-balloon.jpg
public/shams/img/logo-black.svg
public/shams/img/logo-mobile.svg
public/shams/img/logo-white.svg
public/shams/img/magdalena-thumb.jpg
public/shams/img/marble-cake-thumb.jpg
public/shams/img/menu-left.svg
public/shams/img/menu-right.svg
public/shams/img/menu-single.svg
public/shams/img/merveilleux-thumb.jpg
public/shams/img/napoleonshat-thumb.jpg
public/shams/img/notification-thumb-2.jpg
public/shams/img/notification-thumb-3.jpg
public/shams/img/notification-thumb.jpg
public/shams/img/pargin-thumb.jpg
public/shams/img/parkin-thumb.jpg
public/shams/img/petit-gateau-thumb.jpg
public/shams/img/plane.jpg
public/shams/img/profile-pic-l-2.jpg
public/shams/img/profile-pic-l-3.jpg
public/shams/img/profile-pic-l-4.jpg
public/shams/img/profile-pic-l-5.jpg
public/shams/img/profile-pic-l-6.jpg
public/shams/img/profile-pic-l-7.jpg
public/shams/img/profile-pic-l-8.jpg
public/shams/img/profile-pic-l-9.jpg
public/shams/img/profile-pic-l-10.jpg
public/shams/img/profile-pic-l-11.jpg
public/shams/img/profile-pic-l.jpg
public/shams/img/salzburger-nockerl-thumb.jpg
public/shams/img/souffle-thumb.jpg
public/shams/img/streuselkuchen-thumb.jpg
public/shams/img/tea-loaf-thumb.jpg
public/shams/img/thumb-1.jpg
public/shams/img/thumb-2.jpg
public/shams/img/thumb-3.jpg
public/shams/img/thumb-4.jpg
public/shams/js/dore.script.js
public/shams/js/scripts.js
public/shams/js/scripts.single.theme.js
public/shams/js/dore-plugins/select.from.library.js
public/shams/js/vendor/bootstrap-datepicker.js
public/shams/js/vendor/bootstrap-notify.min.js
public/shams/js/vendor/bootstrap-tagsinput.min.js
public/shams/js/vendor/bootstrap.bundle.min.js
public/shams/js/vendor/Chart.bundle.min.js
public/shams/js/vendor/chartjs-plugin-datalabels.js
public/shams/js/vendor/cropper.min.js
public/shams/js/vendor/datatables.min.js
public/shams/js/vendor/dropzone.min.js
public/shams/js/vendor/fullcalendar.min.js
public/shams/js/vendor/jquery-3.3.1.min.js
public/shams/js/vendor/jquery.barrating.min.js
public/shams/js/vendor/jquery.contextMenu.min.js
public/shams/js/vendor/moment.min.js
public/shams/js/vendor/mousetrap.js
public/shams/js/vendor/mousetrap.min.js
public/shams/js/vendor/nouislider.min.js
public/shams/js/vendor/owl.carousel.min.js
public/shams/js/vendor/perfect-scrollbar.min.js
public/shams/js/vendor/progressbar.min.js
public/shams/js/vendor/quill.min.js
public/shams/js/vendor/select2.full.js
public/shams/js/vendor/slick.min.js
public/shams/js/vendor/Sortable.js
public/shams/js/vendor/typeahead.bundle.js
public/shams/js/vendor/video.js
public/shams/js/vendor/videojs-youtube.min.js
public/shams/js/vendor/ckeditor5-build-classic/ckeditor.js
public/shams/js/vendor/ckeditor5-build-classic/ckeditor.js.map
public/shams/js/vendor/ckeditor5-build-classic/LICENSE.md
public/shams/js/vendor/ckeditor5-build-classic/README.md
public/shams/js/vendor/ckeditor5-build-classic/translations/ar.js
public/shams/js/vendor/ckeditor5-build-classic/translations/ast.js
public/shams/js/vendor/ckeditor5-build-classic/translations/bg.js
public/shams/js/vendor/ckeditor5-build-classic/translations/ca.js
public/shams/js/vendor/ckeditor5-build-classic/translations/cs.js
public/shams/js/vendor/ckeditor5-build-classic/translations/da.js
public/shams/js/vendor/ckeditor5-build-classic/translations/de.js
public/shams/js/vendor/ckeditor5-build-classic/translations/el.js
public/shams/js/vendor/ckeditor5-build-classic/translations/en-au.js
public/shams/js/vendor/ckeditor5-build-classic/translations/eo.js
public/shams/js/vendor/ckeditor5-build-classic/translations/es.js
public/shams/js/vendor/ckeditor5-build-classic/translations/et.js
public/shams/js/vendor/ckeditor5-build-classic/translations/eu.js
public/shams/js/vendor/ckeditor5-build-classic/translations/fa.js
public/shams/js/vendor/ckeditor5-build-classic/translations/fi.js
public/shams/js/vendor/ckeditor5-build-classic/translations/fr.js
public/shams/js/vendor/ckeditor5-build-classic/translations/gl.js
public/shams/js/vendor/ckeditor5-build-classic/translations/gu.js
public/shams/js/vendor/ckeditor5-build-classic/translations/hr.js
public/shams/js/vendor/ckeditor5-build-classic/translations/hu.js
public/shams/js/vendor/ckeditor5-build-classic/translations/it.js
public/shams/js/vendor/ckeditor5-build-classic/translations/ja.js
public/shams/js/vendor/ckeditor5-build-classic/translations/km.js
public/shams/js/vendor/ckeditor5-build-classic/translations/kn.js
public/shams/js/vendor/ckeditor5-build-classic/translations/ko.js
public/shams/js/vendor/ckeditor5-build-classic/translations/ku.js
public/shams/js/vendor/ckeditor5-build-classic/translations/nb.js
public/shams/js/vendor/ckeditor5-build-classic/translations/ne.js
public/shams/js/vendor/ckeditor5-build-classic/translations/nl.js
public/shams/js/vendor/ckeditor5-build-classic/translations/no.js
public/shams/js/vendor/ckeditor5-build-classic/translations/oc.js
public/shams/js/vendor/ckeditor5-build-classic/translations/pl.js
public/shams/js/vendor/ckeditor5-build-classic/translations/pt-br.js
public/shams/js/vendor/ckeditor5-build-classic/translations/pt.js
public/shams/js/vendor/ckeditor5-build-classic/translations/ro.js
public/shams/js/vendor/ckeditor5-build-classic/translations/ru.js
public/shams/js/vendor/ckeditor5-build-classic/translations/si.js
public/shams/js/vendor/ckeditor5-build-classic/translations/sk.js
public/shams/js/vendor/ckeditor5-build-classic/translations/sq.js
public/shams/js/vendor/ckeditor5-build-classic/translations/sv.js
public/shams/js/vendor/ckeditor5-build-classic/translations/tr.js
public/shams/js/vendor/ckeditor5-build-classic/translations/tt.js
public/shams/js/vendor/ckeditor5-build-classic/translations/ug.js
public/shams/js/vendor/ckeditor5-build-classic/translations/uk.js
public/shams/js/vendor/ckeditor5-build-classic/translations/zh-cn.js
public/shams/js/vendor/ckeditor5-build-classic/translations/zh.js
public/shams/js/vendor/landing-page/headroom.min.js
public/shams/js/vendor/landing-page/jquery.autoellipsis.js
public/shams/js/vendor/landing-page/jQuery.headroom.js
public/shams/js/vendor/landing-page/jquery.scrollTo.min.js
